name: Docker 기반 CICD

# dockercompose 브런치가 push 되면 트리거 발동되어서 jobs가 수행됨
on:
  push:
    branches: ["dockercompose"]

jobs:
  # git build push 작업
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3

      - name: 검증
        run: |
          pwd
          ls ./dev -al
        shell: bash

      # 도커 허브 로그인 단계 v2/v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # fastapi 관련 앱이 설정되어 있는 이미지 생성 및 도커허브 푸시 v4~v6
      - name: Build and Push fastapi 앱
        uses: docker/build-push-action@v4
        with:
          # Dockerfile 위치
          context: ./dev/app
          file: ./dev/app/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/fastapi-app:latest

      - name: Build and Push nginx 앱
        uses: docker/build-push-action@v4
        with:
          # Dockerfile 위치
          context: ./dev/nginx
          file: ./dev/nginx/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/nginx:latest

      # - name: 환경변수 파일 (.env) 동적생성
      #   run: |
      #     echo "${{ secrets.APP_ENV }}" >> .env
      #     ls -al
      #     cat .env
      #   shell: bash

      # - name: Copy sourcecode to Ec2
      #   uses: appleboy/scp-action@master
      #   with:
      #     host: ${{ secrets.EC2_HOST }}
      #     username: ${{ secrets.EC2_USERNAME }}
      #     key: ${{ secrets.EC2_KEY }}
      #     port: 22
      #     # 복사할 대상 지정 -`소스`
      #     source: .
      #     # `타겟` 지정 : EC2
      #     target: "/home/ubuntu/projects"

      # - name: Run Script and Service Restart
      #  uses: appleboy/ssh-action@master
      #  with:
      #     host: ${{ secrets.EC2_HOST }}
      #     username: ${{ secrets.EC2_USERNAME }}
      #     key: ${{ secrets.EC2_KEY }}
      #     port: 22
      #     script: |
      #       # 1차로 ec2 세팅을 진행하고 나서 CI/CD
      #       # ec2에 접속하고 나서 진행할 업무 기술
      #       # 해당 프로젝트 폴더로 이동(cd)
      #       cd /home/ubuntu/projects

      #       # 현재 프로젝트내 파일 확인
      #       ls -al

      #       # 가상 환경을 구동하지 않고, 가상환경의 명령어 직접 사용
      #       # 추가(최초)로 설치된 패키지를 설치
      #       ./web/bin/pip install -r requirements.txt

      #       # uvicorn 서비스를 재가동(재시작: restart) -> sudo
      #       sudo systemctl restart hello.service
