name: Docker 기반 CICD

# dockercompose 브런치가 push 되면 트리거 발동되어서 jobs가 수행됨
on:
  push:
    branches: ["dockercompose"]

jobs:
  # git build push 작업
  docker-build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3

      - name: 검증
        run: |
          pwd
          ls ./dev -al
        shell: bash

      # 도커 허브 로그인 단계 v2/v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # fastapi 관련 앱이 설정되어 있는 이미지 생성 및 도커허브 푸시 v4~v6
      - name: Build and Push fastapi 앱
        uses: docker/build-push-action@v4
        with:
          # Dockerfile 위치
          context: ./dev/app
          file: ./dev/app/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/fastapi-app:latest

      # 커스텀된 nginx 이미지 생성 및 도커허브 푸시 v4~v6
      - name: Build and Push nginx
        uses: docker/build-push-action@v4
        with:
          context: ./dev/nginx
          file: ./dev/nginx/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/nginx-proxy:latest

  # 2. EC에 배포
  EC2-deploy:
    # 반드시 사전에 fastapi, nginx 이미지가 도커허브에 등록되어 있어야한다
    needs: docker-build-deploy
    runs-on: ubuntu-latest
    steps:
      # 새로운 잡에서 새롭게 리눅스 할당 소스코드를 체크아웃함
      - name: Code Checkout
        uses: actions/checkout@v3

      # 아래 파일은 소스코드를 체크아웃함으로써 획득할 수 있다.
      # AWS의 EC2에 docker-compose.yml 파일을 업로드
      # appleboy/scp-action@master => EC2에 파일 카피 기능 제공 도구
      - name: Copy docker-compose.yml to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          source: "./dev/docker-compose.yml"
          # /home/ubuntu/deploy/dev/docker-compose.yml 생성됨
          target: "/home/${{ secrets.EC2_USERNAME }}/deploy"

      - name: Docker-Compose Up to EC2 via ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            # 작업 디렉토리 이동( docker-compose.yml 위치로 이동)                  
            cd /home/${{ secrets.EC2_USERNAME }}/deploy/dev

            # 최신 이미지 가져오기 -> 
            # 최초 cicd 할때는 이미지를 모두 다운로드
            # 이후 cicd 할때는 변경된 이미지(최신)만 다운로드
            docker-compose pull

            # 컨테이너 구성
            docker-compose up -d

            # docker-compose.yml 구성이 변경되어서 
            # 이미지가 미사용되는것이 있을수 있음 -> 공간확보
            docker image prune -f
